/** @format */

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #eef8ff;
}

/* input[type="checkbox"] {
  color: #2f53f5;
  
} */

.backdrop {
  background: rgba(0, 0, 0, 0.25);
}


#nav a.active {
  background: #eef8ff;
  color: black;
}

#consultant_id a.active {
  background: #fff;
  font-weight: 600;
  color: #2f53f5;
  border-bottom: 1px solid #2f53f5;
}
#courses_id a.active {
  background: #fff;
  font-weight: 600;
  color: #000;
  border-bottom: 1px solid #2f53f5;
}
#course_video_id a.active {
  background: #fff;
  font-weight: 600;
  color: #000;
  border-bottom: 1px solid #2f53f5;
}

/* Add this CSS to your stylesheet */
/* This is just a basic example. Customize it according to your needs */

/* Track */
::-webkit-scrollbar {
  width: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #d4d4d4;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #c7c7c7;
}

/* All Progress */
progress[value] {
  /* Reset the default appearance */
  -webkit-appearance: none;
  appearance: none;
  height: 4px;
}

progress[value]::-webkit-progress-bar {
  background-color: #eee;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

progress[value]::-webkit-progress-value {
  background: #2f53f5;
  border-radius: 2px;
}

/* Progress with id rating_progress */
#rating_progress[value]::-webkit-progress-value {
  background: #e67e22;
}

 #rating_progress {
  -webkit-appearance: none;
  appearance: none;
  height: 8px;
}

#rating_progress::-webkit-progress-bar  {
  background-color: none;
  border-radius: 1px;
  box-shadow: none !important;
  width: 250px;
}

#rating_progress::-webkit-progress-value {
  background-color:  #e67e22 !important;
  border-radius: none !important;
}

.testStyle {
  color: #fefefe;
} 