@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color:   #eef8ff ;
}

#nav a.active {
  background: #eef8ff ;
  color: black;
}

#consultant_id a.active {
  background: #fff;
  font-weight: 600;
  color: #2f53f5;
  border-bottom: 1px solid #2f53f5;
}


/* Add this CSS to your stylesheet */
/* This is just a basic example. Customize it according to your needs */

/* Track */
::-webkit-scrollbar {
  width: 5px;
  
}

/* Handle */
::-webkit-scrollbar-thumb {
  background:  #d4d4d4 ;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background:   #c7c7c7 ;
}



